<div id="wrapper">
  <div id="page-wrapper" class="gray-bg">
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-sm-4">
        <h2>Song Detail</h2>
      </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">

        <div class="col-lg-12">
          <div class="mail-box-header">
            <div class="pull-right tooltip-demo">
              <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title=""
                 data-original-title="Save song"><i class="fa fa-save" (click)="save(song.name)"></i> Save</a>
            </div>
            <h2>
              Song Details
            </h2>
          </div>
          <div class="mail-box">


            <div class="mail-body">

              <form #f="ngForm" class="form-horizontal" method="get">
                <div class="form-group container-fluid">
                  <div class="row">
                    <div class="col-sm-12">
                      <md-input class="demo-full-width" placeholder="Song name" #songname [value]="(song | async)?.name"></md-input>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">

                      <md-input class="demo-full-width" placeholder="Key" #songkey [value]="(song | async)?.key"></md-input>
                    </div>
                    <div class="col-sm-4">

                      <md-input class="demo-full-width" placeholder="Length" #songname
                                [value]="(song | async)?.length? (song | async)?.length:''"></md-input>
                    </div>
                    <div class="col-sm-4">

                      <md-input class="demo-full-width" placeholder="Tempo" #songkey [value]="(song | async)?.tempo"></md-input>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <md-input class="demo-full-width" placeholder="Artist" #artist [value]="(song | async)?.artist? (song | async)?.artist:''"></md-input>
                    </div>
                    <div class="col-sm-6">
                      <md-input class="demo-full-width" placeholder="Genre" #genre
                                [value]="(song | async)?.genre? (song | async)?.genre:''"></md-input>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <label for="lyrics">Lyrics</label>
                      <textarea class="form-control" rows="20" id="lyrics" #lyrics
                                [value]="(song | async)?.lyrics? (song | async)?.lyrics:''"></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <label for="notes">Notes</label>
                      <textarea class="form-control" rows="5" id="notes" #notes
                                [value]="(song | async)?.notes? (song | async)?.notes:''"></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <label for="other">Other</label>
                      <textarea class="form-control" rows="5" id="other" #other
                                [value]="(song | async)?.other? (song | async)?.other:''"></textarea>
                    </div>
                  </div>
                </div>

              </form>

            </div>


            <div class="clearfix"></div>


          </div>


        </div>
      </div>
    </div>
  </div>
</div>
