<md-card>
  <md-card-content>
    <form>
      <md-input class="demo-full-width" placeholder="Song name" #songname [value]="(song | async)?.name"></md-input>
      <md-input class="demo-full-width" placeholder="Song length" #songlength [value]="(song | async)?.length"></md-input>
      <md-input class="demo-full-width" placeholder="Song key" #songkey [value]="(song | async)?.key"></md-input>
      <button md-button class="md-icon-button" type="button" aria-label="Save" (click)="save(songname.value,songlength.value,songkey.value)">
        <md-icon>save</md-icon>
      </button>
    </form>
  </md-card-content>
</md-card>

