
<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold">
                  Tim Burnham
                </strong>

              </span>
              <span class="text-muted text-xs block">Guitar Player
                <b class="caret"></b>
              </span>
            </span>
          </a>
        </div>
        <div class="logo-element">
          IN+
        </div>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/songs" routerLinkActive="active"><i class="fa fa-music fa-5"></i> <span class="nav-label">Songs</span> </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/setlist" ><i class="fa fa-list-ol fa-5"></i> <span class="nav-label">Setlists</span> </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

