<md-content>

  <md-card>
    <md-toolbar>
      <button  md-button class="md-icon-button" (click)="add('boodle', '4523', 'B')" aria-label="Settings">
        <i md-icon>menu</i>
      </button>
      <span>Toolbar with Icon Buttons</span>
      <span flex></span>
      <button md-button class="md-icon-button" aria-label="Favorite">
        <i md-icon>favorite</i>
      </button>
      <button md-button class="md-icon-button" aria-label="More">
        <i md-icon>more_vert</i>
      </button>
    </md-toolbar>

    <md-card-content>
      <md-data-table layout-fill>
        <thead>
        <tr>
          <th class="md-text-cell">Material</th>
          <th>Quantity</th>
          <th>Unit price</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let song of items | async" (click)="onRowClick(song)">
          <td class="md-text-cell">{{ song.name }}</td>
          <td>{{ song.length }}</td>
          <td>{{ song.key }}</td>
        </tr>
        </tbody>
      </md-data-table>
    </md-card-content>
  </md-card>
</md-content>

