
<div id="page-wrapper" class="gray-bg">
  <div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
      <div [ngClass]="{'col-lg-4': showSongs}" *ngIf="showSongs">
        <div class="ibox">
          <div class="ibox-title">
            <h5>Song list</h5>
            <div class="ibox-tools">
              <button type="button" class="btn btn-sm btn-white" (click)="showSongs=false"> <i class="fa fa-times"></i> </button>
            </div>
          </div>
          <div class="ibox-content">

            <div class="m-b-lg">

              <div class="input-group">
                <input type="text" placeholder="Search by song name..." class=" form-control">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-white"> Search</button>
                </span>
              </div>
              <div>
                <button class="btn btn-primary btn-xs pull-right" (click)="addSongsToSetlist(songs)">Add new setlist</button>
              </div>

            </div>

            <div class="table-responsive">
              <table class="table table-hover issue-tracker">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Artist</th>
                  <th>Length</th>
                  <th>Key</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let song of songs | async" >

                  <td class="issue-info" (click)="onRowClick(song)">
                    {{ song.name}}
                  </td>
                  <td>
                    {{ (song.artist | async)?.name}}
                  </td>
                  <td>
                    {{ song.length}}
                  </td>
                  <td>
                    {{ song.key}}
                  </td>
                  <td>
                    <input type="checkbox" (click)="addSongToSetlist(song)" class="i-checks" name="input[]">
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
      <div [ngClass]="{'col-lg-8': showSongs, 'col-lg-12': !showSongs}">
        <div class="ibox">
          <div class="ibox-title">
            <h5>Setlist</h5>
            <div class="ibox-tools">
              <button class="btn btn-primary btn-xs" (click)="showSongs=true">Add new setlist</button>
            </div>
          </div>
          <div class="ibox-content">

            <div class="m-b-lg">

              <div class="input-group">
                <input type="text" placeholder="Search by song name..." class=" form-control">
                <span class="input-group-btn">
                                        <button type="button" class="btn btn-white"> Search</button>
                                    </span>
              </div>
              <div class="m-t-md">

                <div >
                  <button type="button" (click)="showSongs=true" class="btn btn-sm btn-white"> <i class="fa fa-plus"></i> </button>
                  <button type="button" (click)="addSongsToSetlist()" class="btn btn-sm btn-white"> <i class="fa fa-user"></i> </button>
                  <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-list"></i> </button>
                  <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-pencil"></i> </button>
                  <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-print"></i> </button>
                  <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-cogs"></i> </button>
                  <strong class="pull-right">Found {{(setlist | async)?.setlistSongsLength }} songs</strong>
                </div>




              </div>

            </div>

            <div class="table-responsive">
              <table class="table table-hover issue-tracker">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Artist</th>
                  <th>Length</th>
                  <th>Key</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let song of (setlist | async)?.songItems">
                  <td>
                    {{song.displaySequenceNumber}}
                  </td>
                  <td class="issue-info" (click)="onRowClick(song)">

                    {{ (song.songDetails | async)?.name}}

                  </td>
                  <td>
                    {{ (song.songDetails | async)?.artist}}
                  </td>
                  <td>
                    {{ (song.songDetails | async)?.length}}
                  </td>
                  <td>
                    {{ (song.songDetails | async)?.key}}
                  </td>
                  <td class="text-right">
                    <button class="btn btn-white btn-xs" (click)="onRowClick(song)">
                      <span class="fa fa-pencil"></span>
                    </button>
                    <button class="btn btn-white btn-xs" (click)="deleteItem(song.$key)">
                      <span class="fa fa-trash">
                      </span>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
